    a {
        text-decoration:none;
        color: #FFFFFF;
    }
    a:link {
        text-decoration:none;
        color: #FFFFFF;
    }
    a:visited {
        text-decoration:none;
        color: #FFFFFF;
    }
    a:hover {
        text-decoration:none;
        color: #FFFFFF;
    }
    a:active {
        text-decoration:none;
        color: #FFFFFF;
    }
    a.getme {
        text-decoration:none;
        background-color: #000000;
        color: #02d8f3;
    }
    a.getme:link {
        text-decoration:none;
        background-color: #000000;
        color: #02d8f3;
    }
    a.getme:visited {
        text-decoration:none;
        background-color: #000000;
        color: #02d8f3;
    }
    a.getme:hover {
        text-decoration:none;
        background-color: #000000;
        color: #02d8f3;
    }
    a.getme:active {
        text-decoration:none;
        background-color: #000000;
        color: #02d8f3;
    }
    body {
        background-color: #eeeeee;
    }
    table {
        background-color:#28b864;
        background-color:#000000;
        width: 100%;
    }
    .headtable {
        color: #ffffff;

        font-family:Arial, sans-serif;
        font-size: 40px;
        font-size: 4vmin;
        margin-bottom: 0;
        margin-left: 5%;
        text-align: left;
        vertical-align: middle;
    }
    .tablecomment {
        color: #02d8f3;

        font-family:Arial, sans-serif;
        font-size: 40px;
        font-size: 2.2vmin;
        margin-left: 5%;
        text-align: left;
        vertical-align: middle;
    }
    .biglinks {
        color: #ffffff;
        float: right;
        font-family:Arial, sans-serif;
        font-size: 40px;
        font-size: 8vmin;
        margin-right: 5.5vmin;
    }
    .smalltext {
        font-family:Arial, sans-serif;
        font-size: 40px;
        font-size: 2.2vmin;
        margin-left: 2%;
        text-align: left;
    }
    .date {
        color: #00aa00;
    }